[submodule "Kitchana-BE"]
	path = Kitchana-BE
	url = https://github.com/lgcns-mini-proejct2-kitchana/Kitchana-BE.git
[submodule "Kitchana-FE"]
	path = Kitchana-FE
	url = https://github.com/lgcns-mini-proejct2-kitchana/Kitchana-FE.git
[submodule "Kitchana-Article"]
	path = Kitchana-Article
	url = https://github.com/lgcns-mini-proejct2-kitchana/Kitchana-Article.git
[submodule "Kitcha-Board"]
	path = Kitchana-Board
	url = https://github.com/lgcns-mini-proejct2-kitchana/Kitchana-Board.git
[submodule "Kitchana-Authentication"]
	path = Kitchana-Authentication
	url = https://github.com/lgcns-mini-proejct2-kitchana/Kitchana-Authentication.git
[submodule "Config"]
	path = Config
	url = https://github.com/lgcns-mini-proejct2-kitchana/Config.git
